@model CIS560_FinalProject.Models.Player
@{
    ViewBag.Title = "CreatePlayer";
}
<div class="row">
    <h5>Create a new player</h5>
</div>


@using (Html.BeginForm("CreatePlayer", "Player", FormMethod.Post))
{

    <div class="row">
        @Html.LabelFor(model => model.FirstName)
        @Html.EditorFor(model => model.FirstName)
    </div>

    <div class="row">
        @Html.LabelFor(model => model.LastName)
        @Html.EditorFor(model => model.LastName)
    </div>

    <div class="row">
        @Html.LabelFor(model => model.Number)
        @Html.EditorFor(model => model.Number)
    </div>

    <div class="row">
        @Html.LabelFor(model => model.Team)
        @Html.EditorFor(model => model.Team)
    </div>

    <input type="submit" class="btn btn-primary" value="Create" />
}
<h2>CreatePlayer</h2>
