@model IEnumerable<CIS560_FinalProject.Models.Tournament>
@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    Welcome to CIS560 Final Project by: Alec, Mitch, Zach, Caleb, Brock, and Jake
</div>


<div id="top-menu-container" class="row">
    @Html.ActionLink("Add new Tournament", "CreateTournament", "Home", null, new { @class = "btn btn-primary" })
    @Html.ActionLink("Add new Team", "CreateTeam", "Home", null, new { @class = "btn btn-primary" })
</div>
<hr />
@if (Model.Count() > 0)
{


    <table class="table">
        <thead>
            <tr>
                <th scope="col">Tournament Name</th>
                <th scope="col">Sport</th>
                <th scope="col">Start Date</th>
                <th scope="col">End Date</th>
                <th></th>
            </tr>
        </thead>



        <!-- how to loop through each element in model-->
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Sport</td>
                <td>@item.StartDate.ToShortDateString()</td>
                <td>@item.EndDate.ToShortDateString()</td>
                <td>
                    @Html.ActionLink("View", "ViewTournament", "Home", new { id = item.TournamentID }, null) |
                    @Html.ActionLink("Edit", "EditTournament", "Home", new { id = item.TournamentID }, null) |
                    @Html.ActionLink("Delete", "DeleteTournament", "Home", new { id = item.TournamentID }, null)
                </td>
            </tr>
        }




    </table>

}
else
{
    <h5>Empty Model handled</h5>
}