@model IEnumerable< CIS560_FinalProject.Models.Match>
@{
    ViewBag.Title = "ViewTournament";
    
}

<div class="row">
    <h5>Viewing Matches</h5>
</div>
<hr />

<table class="table">
    <thead>
        <tr>
            <th scope="col">Round</th>
            <th scope="col">Home Team</th>
            <th scope="col">Home Score</th>
            <th scope="col">Away Team</th>
            <th scopre="col">Away Score</th>
            <th></th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
    <tr>
        <td>@item.Round</td>
        <td>@item.Team1.Name</td>
        <td>@item.Team1Score</td>
        <td>@item.Team2.Name</td>
        <td>@item.Team2Score</td>
        <td>
        </td>
    </tr>
    }
    <tbody></tbody>
</table>
