@model CIS560_FinalProject.Models.Location
@{
    ViewBag.Title = "EditLocation";
}
<div class="row">
    <h5>Editing the @Model.Venue Location</h5>
</div>
<hr />

@using (Html.BeginForm("EditLocation", "Location", FormMethod.Post))
{
    @Html.HiddenFor(model => model.LocationID)

    <div class="row">
        @Html.LabelFor(model => model.Venue)
        @Html.EditorFor(model => model.Venue)
    </div>

    <div class="row">
        @Html.LabelFor(model => model.City)
        @Html.EditorFor(model => model.City)
    </div>

    <div class="row">
        @Html.LabelFor(model => model.StateProvince)
        @Html.EditorFor(model => model.StateProvince)
    </div>
    

    <input type="submit" class="btn btn-primary" value="Save Changes" />
}

